.testimonial-list {
  display: grid;
  gap: 16px;
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .testimonial-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (min-width: 1206px) {
  .testimonial-list {
    height: 266px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 30px;
  }
}
